.header{
    background-color: rgba(65, 62, 62, 0.658);
    color: aliceblue;
    width: 100%;
}
#ap{
    background-color: rgba(43, 189, 226, 0.404);
    text-align: center;
    width:80%;
	margin:0 auto;
	padding:5px;
	border-radius: 10px;
    border:2px solid #c4eb1a;
    margin-bottom: 25px;


}

#delhi{
    background-color: blueviolet;
    text-align: center;
    width:80%;
	margin:0 auto;
	padding:5px;
	border-radius: 10px;
    border:2px solid #c4eb1a;
    margin-bottom: 25px;
    

}
#goa{
    background-color: rgba(6, 203, 252, 0.596);
    text-align: center;
    width:80%;
	margin:0 auto;
	padding:5px;
	border-radius: 10px;
    border:2px solid #ddacd5;
    margin-bottom: 25px;
    


}
#ladhkh{ 

    background-color: rgba(135, 8, 253, 0.418);
    text-align: center;
    width:80%;
	margin:0 auto;
	padding:5px;
	border-radius: 10px;
    border:2px solid #c4eb1a;
    margin-bottom: 25px;
	opacity: 1.0;

}
#ap_btn{margin-top:10px;
	width:30%;
	background-color: rgb(230, 136, 13);
	padding: 5px;
	font-size:18px;
	text-align: center;
	color:white;
	border-radius: 20px; 
	opacity: 1.0;

   font-weight: bold;

}
#delhi_btn{
    margin-top:10px;
	width:30%;
	background-color: rgb(247, 164, 11);
	padding: 5px;
	font-size:18px;
	text-align: center;
	color:white;
	border-radius: 20px; 
	opacity: 1.0;

   font-weight: bold;

}
#goa_btn{
    margin-top:10px;
	width:30%;
	background-color: rgba(248, 162, 3, 0.89);
	padding: 5px;
	font-size:18px;
	text-align: center; 
	color:white;
	border-radius: 20px; 
	opacity: 1.0;

   font-weight: bold;

}
#ladhkh_btn{
    margin-top:10px;
	width:30%;
	background-color: rgb(243, 149, 8);
	padding: 5px;
	font-size:18px;
	text-align: center;
	color:white;
	border-radius: 20px; 
	opacity: 1.0;

   font-weight: bold;

}
#ap_btn:hover{
	margin-top:10px;
	width:30%;
	background-color: rgb(230, 136, 13);
	padding: 5px;
	font-size:18px;
	text-align: center;
	color:white;
	border-radius: 20px; 
	opacity: .50;

   font-weight: bold;
}
#delhi_btn:hover{
    margin-top:10px;
	width:30%;
	background-color: rgb(247, 164, 11);
	padding: 5px;
	font-size:18px;
	text-align: center;
	color:white;
	border-radius: 20px; 
	opacity: .50;

   font-weight: bold;

}
#goa_btn:hover{
    margin-top:10px;
	width:30%;
	background-color: rgba(248, 162, 3, 0.89);
	padding: 5px;
	font-size:18px;
	text-align: center; 
	color:white;
	border-radius: 20px; 
	opacity: .50;

   font-weight: bold;

}
#ladhkh_btn:hover{
    margin-top:10px;
	width:30%;
	background-color: rgb(243, 149, 8);
	padding: 5px;
	font-size:18px;
	text-align: center;
	color:white;
	border-radius: 20px; 
	opacity: .50;

   font-weight: bold;

}
.subpage{
    color: azure;
    text-decoration: #ddacd5;
}
.imgmain{
    border-radius: 20px; 

    height: 600px;
    width: 700px;
}
.headf{
    width: 100%;
    background-color: rgb(100, 3, 11);
}
/*
Define this in your CSS 
.bgColor = Replace it by the name you want to give your animation
.bgAnimObj = Assign this class to the object you want to apply the effect
*/

.bgAnimObj {
	background: #1abc9c;
	/* Chrome, Safari */
	-webkit-animation: bgColor 5s;
	/* Firefox */
	-moz-animation: bgColor 5s;
	/* Standard Syntax */
	animation: bgColor 5s;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes bgColor {
	from {
 		background: #f506b9;
	} 
	to {
 		background: #ebebeb;
	}
}

/* Firefox */
@-moz-keyframes bgColor {
    from {
        background: #c205d3;
    }
    to {
        background: #ebebeb;
    }
}

/* Standard syntax */
@keyframes bgColor {
	from {
		background: #1abc9c;
	}
	to {
		background: #ebebeb;
	}
}
/* 
Define this in your CSS 
.bgColor = Replace it by the name you want to give your animation
.bgAnimObj = Assign this class to the object you want to apply the effect
*/

.bgAnimObj {
	background: #ff0080;
	/* Chrome, Safari */
	-webkit-animation: bgColor 5s;
	/* Firefox */
	-moz-animation: bgColor 5s;
	/* Standard Syntax */
	animation: bgColor 5s;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes bgColor {
	from {
 		background: #1abc9c;
	} 
	to {
 		background: #ebebeb;
	}
}

/* Firefox */
@-moz-keyframes bgColor {
    from {
        background: #1abc9c;
    }
    to {
        background: #ebebeb;
    }
}

/* Standard syntax */
@keyframes bgColor {
	from {
		background: #1abc9c;
	}
	to {
		background: #ebebeb;
	}
}
/* 
Define this in your CSS 
.bgColor = Replace it by the name you want to give your animation
.bgAnimObj = Assign this class to the object you want to apply the effect
*/

.bgAnimObj {
	background: #1abc9c;
	/* Chrome, Safari */
	-webkit-animation: bgColor 5s;
	/* Firefox */
	-moz-animation: bgColor 5s;
	/* Standard Syntax */
	animation: bgColor 5s;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes bgColor {
	from {
 		background: #1abc9c;
	} 
	to {
 		background: #ebebeb;
	}
}

/* Firefox */
@-moz-keyframes bgColor {
    from {
        background: #1abc9c;
    }
    to {
        background: #ebebeb;
    }
}

/* Standard syntax */
@keyframes bgColor {
	from {
		background: #1abc9c;
	}
	to {
		background: #ebebeb;
	}
}
/* 
Define this in your CSS 
.bgColor = Replace it by the name you want to give your animation
.bgAnimObj = Assign this class to the object you want to apply the effect
*/

.bgAnimObj {
	background: #4d07f0;
	/* Chrome, Safari */
	-webkit-animation: bgColor 5s;
	/* Firefox */
	-moz-animation: bgColor 5s;
	/* Standard Syntax */
	animation: bgColor 5s;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes bgColor {
	from {
 		background: #07f73b;
	} 
	to {
 		background: #ebebeb;
	}
}

/* Firefox */
@-moz-keyframes bgColor {
    from {
        background: #06fa1a;
    }
    to {
        background: #ebebeb;
    }
}
/* Standard syntax */
@keyframes bgColor {
	from {
		background: #04f841;
	}
	to {
		background: #ebebeb;
	}
}
body {
 background: #f5f5f5; font-family: 'Roboto', sans-serif;}

.mini {
  font-size: 1em;
  color: #000;
  line-height: 9em;
  text-indent: 2.5em;
  position: absolute;
  left: 50%;
  top: 50%; 
}
.mega, .bola{
  line-height: 1.65em;
  font-weight: bold;
  font-size: 11em;
  color: black;
  font-family: 'Roboto', sans-serif;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -150px;
  margin-top: -150px;}
 
.boom {color: #f5f5f5; }